/* .content-area {
    padding: 15px 0 0 0;
} For Main Menu */ 
#third {
    .gallery-slider {
        img {
            opacity: 0.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

        img:hover {
            opacity: 1.0;
            filter: alpha(opacity=100); /* For IE8 and earlier */
        }
    }
}