#header {
    margin: 0 auto;
    text-align: center;
    display: none;
    float: left;
    width: 100%;
    background-color: black;
    color: white;
    &#site-navigation {
        &#menu-saintly {
            &.menu-item {
                float:left;
                width:100%;
                background-color: darkgoldenrod;
                border-radius: 5px;
                color:aliceblue;
            }
        }
    }
}