/* Css for Home Page */
/* Hero Area */
#hero {
    &.site-main {
        width: 100%;
        text-align: center;
        height: 100%;
    } 
    .hero-img {
        min-height:700px;
        background-size:cover;
        background-position: 25% 47%;
    }
}  
/* End Hero Area */
/* About Me Area */
#about-me {
    width: 100%;
    text-align: center;
    margin: 75px auto;
    overflow: hidden;
    p {
        max-width: 300px;
    }
}

#about-me-banner {
    width: 100%;
    background-size: cover;
    height: 400px;
    background-position: 100% 45%;
}

#main-banner {
    width: 100%;
    text-align: center;
    margin: 75px auto;
    overflow: hidden;
    p {
        max-width: 275px;
    }
}

#about-me, #main-banner  {
    h2{
        font-size: 4em;
        font-weight: normal;
        max-width: 400px;
        margin: 0 auto;
    }
    p {
        font-size: 17px;
        width: 100%;
        margin: 30px auto;
    }
}
/* End About Me Area */
/* Client Custom Post Type Area */
#clients-wrapper {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    background-color: gray;
    float: left;
    text-align: center;
    clear: both;
    padding-bottom: 120px;
    h2 {
        color: white;
        margin: 50px 0 0 0;
    }
    p {
        color: #ffffff;
        margin: 10px 0 40px 0;
 
    }
    #clients {
          max-width: 1080px;
          margin: 10px auto;
          display: inline-block;
    }
    .client-box {
        width: 250px;
        height: 250px;
        float: left;
        margin: 10px 10px;
        .client-screen {
            overflow: hidden;
            line-height: 1.25;
            border-radius: 200px;
            background-color: white;
            width: 250px;
            height: 250px;
            margin: 0 auto;
            background-color: white;
            position: absolute;
            border-radius: 200px;
            overflow: hidden;
            cursor:pointer;
            
            &.hide-screen {
                opacity:0;
            }
            img {
                padding: 40px 35px;
                cursor: hand;
            }
        }
        .client-content {
            line-height: 1.25;
            padding: 40px 35px;
            border-radius: 200px;
            background-color: white;
            min-height: 164px;
            border-style: solid;
            position: absolute;
            width: 174px;
            height: 164px;
            display:none;
            overflow: hidden;
            &.hide-screen {
                display:block;
            }
            h1 {
              font-size: 30px;
              text-align: center;
              cursor: pointer;
            }
            p {
                
                margin: 5px 0;
            }
            ul li {
                  text-align: left;
                  list-style-type: disc;
            }
        }
        .client-logo { 
            width: 250px;
            height: 250px;
            margin: 0 auto;
            background-color: white;
            position: absolute;
            border-radius: 200px;
            z-index: 999;
            cursor:pointer;
            &.hide-logo {
              opacity:0;
            }
            img {
                border-radius: 200px;
            }
        }
    }
}
/* End Client Custom Post Type Area */
/* Fork Me Area */
#fork-me {
    margin: 0 auto;
    width: 85%;
    h2 {
        float: left;
        margin: 0px auto;
        display: inline-block;
        width: 100%;
        z-index: 999;
        padding: 15px 0;
    }
    a {
        width: 80px;
        float: right; 
    }
    #close-box {
        left: 0;
        width: 80px;
        cursor:pointer;
        position: absolute;
    }
    img {
        width: 80px;
        float: left;
        display: inline;
    }
    &.sticky {
        background-color: white;
        width: 100%;
        position: fixed;
        top: 0;
        transition: all 0.4s ease-in-out;
        height: 80px;
        background-color: antiquewhite;
        z-index: 999;
        text-align: center;
        a {
            position: absolute;
            top: 0;
            right: 0;
        }
        &.hide {
            display:none;
        }
    }
}
/* Start Contact Area */
#contact {
    height:100%;
    width:100%;
    margin:0 auto;
    text-align: center;
    clear: both;
    display: none;

    &.contact-show {
        display:inline;
    }
    .contact-content {
        list-style-type: none;
        clear: both;
        float: left;
        width: 100%;
        position: fixed;
        margin: 0 auto;
        z-index: 999;
        bottom:0;
        .contact-text { 
            display: block;
            padding: 10px 0px;
            width: 25%;
            margin: 0 auto;
            border-radius: 200px 200px 0px 0px;
            background-color: #4b4c5b;
            color: white;

            h2 {
                cursor:pointer;
            }
        }
        .contact-box {
            .wpcf7 {
                width:100%;
                height:400px;
                .wpcf7-form {
                    p:nth-child(-n+2) {
                        background: #ff0000;
                        float:left;
                        width:200px;
                    }
                    p:nth-child(n+2) {
                        background: #ff0000;
                        float:left;
                        width:200px;
                    }
                }
            }
        } 
        #social-icons {
            text-align: center; 
            display:none;
            bottom: 0;
            position: fixed;
            background-color:white;
            margin:0 auto;
            width: 100%;
            z-index: 999;
            h2 {
                margin: 20px 0;
                cursor:pointer;
            }
            ul {    
                &.social_display {
                    li {
                        margin:0;
                        padding:0;
                        border-radius:0;
                    }
                }
            }
        }
    }  
}
/* End Contact Area -*/