/* Available for Future use. */
#site-navigation {
    #menu-saintly {
            margin:0 auto;
            width:100%;
            position:fixed;
            background-color: black;
            z-index:1000;
            li {
                float:left;
            }   
            a { 
            color: white;
            float: left;
            padding: 0 1rem;
            text-decoration: none;
            font-family: monospace;
        }
    }
}
ul, menu, dir {
  display: block;
  margin:0 auto;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}