/* CSS for Responsive Styles */
@media (max-width: 1110px) {
    #about-me  {
        p {
            max-width: 450px;
        }
    }
}

@media (max-width: 1110px) {
    #hero h1 {
        padding: 75px 0 0 0;
        font-size:8em;
    } 
    .content-area {
        #contact {
            padding:0;
            width: 100%;
            border-radius: 0;
            .column-left {
                list-style-type: none;
                padding:0;
                width: 100%;
                border-radius: 0;   

            }
            .column-right {
                display:none;
            }
        }
    }
    #content {
        #clients {
            max-width: 810px;
            width:100%;
        }
    }
}

@media (max-width: 900px) {
    .content-area {
          padding: 0;
          margin: 0;
    }
    #hero {
        height:300px;
    }
    #hero h1 {
        padding: 75px 0 0 0;
        font-size:8em;
    }
    #hero, h1, h2, h3, h4 {
        font-size:75%;   
    }
    #content {
        #about-me{
            width:100%;
            padding:0;
            border-radius: 0;
        }
        #clients {
            max-width: 540px;
            width:100%
        }
        #fork-me h2 {
            font-size: 22px;
            padding: 23px 0;
        }
        #contact .contact-content .contact-text {
            width: 35%;
        }
    }
}
@media (max-width: 575px) {
    #content {
        #hero {
            &.site-main {
                .hero-img {
                    background-position: 80% 25%;
                }  
            }
        }
        #clients {
            max-width: 270px;
            width:100%;
        
            .client-box:nth-child(n+4) {
                display:none;
            }
        }
        #fork-me h2 {
            font-size: 17px;
            padding: 25px .5%;
            width: 100%;
        }
        #contact .contact-content .contact-text {
              width: 60%;
        }
    }
}
@media (max-width: 480px) {
    #content {
        #hero {
            &.site-main {
                .hero-img {
                    background-position: 91% 0;
                }
            }
        }
        #clients {
            max-width: 270px;
            width:100%;
        
            .client-box:nth-child(n+4) {
                display:none;
            }
        }
        #fork-me h2 {
            font-size: 17px;
            width: 100%;
            max-width: 185px;
            padding: 15px 25%;
        }
        #contact .contact-content .contact-text {
          width: 75%;
        }
        #social-icons h2 {    
            font-size: 20px;
            margin: 20px 0;
        }
    }
}