/* CSS for Base Site Structure */

body {
    min-width: 400px;
    
    h1 {
        font-size: 5em;
        margin:0;
    }
    h2 {
        font-size: 2em;
        margin:0;
    }
    a {
        color: #4b4c5b;
        font-weight: bold;
        text-decoration: none;
    }
    .error-404 {
        text-align: center;
        header {
            margin-top:50px;    
        }
        color: #4b4c5b;
        margin: 0;
        p {
            text-align: center;
            margin:40px;
        }
    }
}