/* Master Font Types Used. */

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto Slab', serif;
    color: #4b4c5b;
    h2,h3,h4,h5,h6 {
        font-size:2em;
    }
    p, ul, li {
        font-family: 'Roboto Slab', serif;
    }
    #hero {
        h1 {
            font-family: 'Lobster', cursive;
            color: #4b4c5b;
            font-size: 6em;
            padding: 25px 0 0 0;  
        }
        p {
            margin: 0;
            color: white;
            font-family: arial;
        }
    }

}