/*
Theme Name: Accelerate Progress
Theme URI: https://deanmiranda.com
Author: Dean Miranda    
Author URI: https://deanmiranda.com
Description: Simple, clean, purely the basics for developing everything you'll ever need.
Version: 1.0.0
Text Domain: saintly
*/
/* Available for Future use. */
/* .content-area {
    padding: 15px 0 0 0;
} For Main Menu */
#third .gallery-slider img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}
#third .gallery-slider img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}

/* Available for Future use. */
#header {
  margin: 0 auto;
  text-align: center;
  display: none;
  float: left;
  width: 100%;
  background-color: black;
  color: white;
}
#header#site-navigation#menu-saintly.menu-item {
  float: left;
  width: 100%;
  background-color: darkgoldenrod;
  border-radius: 5px;
  color: aliceblue;
}

/* Css for Home Page */
/* Hero Area */
#hero.site-main {
  width: 100%;
  text-align: center;
  height: 100%;
}
#hero .hero-img {
  min-height: 700px;
  background-size: cover;
  background-position: 25% 47%;
}

/* End Hero Area */
/* About Me Area */
#about-me {
  width: 100%;
  text-align: center;
  margin: 75px auto;
  overflow: hidden;
}
#about-me p {
  max-width: 300px;
}

#about-me-banner {
  width: 100%;
  background-size: cover;
  height: 400px;
  background-position: 100% 45%;
}

#main-banner {
  width: 100%;
  text-align: center;
  margin: 75px auto;
  overflow: hidden;
}
#main-banner p {
  max-width: 275px;
}

#about-me h2, #main-banner h2 {
  font-size: 4em;
  font-weight: normal;
  max-width: 400px;
  margin: 0 auto;
}
#about-me p, #main-banner p {
  font-size: 17px;
  width: 100%;
  margin: 30px auto;
}

/* End About Me Area */
/* Client Custom Post Type Area */
#clients-wrapper {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  background-color: gray;
  float: left;
  text-align: center;
  clear: both;
  padding-bottom: 120px;
}
#clients-wrapper h2 {
  color: white;
  margin: 50px 0 0 0;
}
#clients-wrapper p {
  color: #ffffff;
  margin: 10px 0 40px 0;
}
#clients-wrapper #clients {
  max-width: 1080px;
  margin: 10px auto;
  display: inline-block;
}
#clients-wrapper .client-box {
  width: 250px;
  height: 250px;
  float: left;
  margin: 10px 10px;
}
#clients-wrapper .client-box .client-screen {
  overflow: hidden;
  line-height: 1.25;
  border-radius: 200px;
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  position: absolute;
  border-radius: 200px;
  overflow: hidden;
  cursor: pointer;
}
#clients-wrapper .client-box .client-screen.hide-screen {
  opacity: 0;
}
#clients-wrapper .client-box .client-screen img {
  padding: 40px 35px;
  cursor: hand;
}
#clients-wrapper .client-box .client-content {
  line-height: 1.25;
  padding: 40px 35px;
  border-radius: 200px;
  background-color: white;
  min-height: 164px;
  border-style: solid;
  position: absolute;
  width: 174px;
  height: 164px;
  display: none;
  overflow: hidden;
}
#clients-wrapper .client-box .client-content.hide-screen {
  display: block;
}
#clients-wrapper .client-box .client-content h1 {
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
#clients-wrapper .client-box .client-content p {
  margin: 5px 0;
}
#clients-wrapper .client-box .client-content ul li {
  text-align: left;
  list-style-type: disc;
}
#clients-wrapper .client-box .client-logo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-color: white;
  position: absolute;
  border-radius: 200px;
  z-index: 999;
  cursor: pointer;
}
#clients-wrapper .client-box .client-logo.hide-logo {
  opacity: 0;
}
#clients-wrapper .client-box .client-logo img {
  border-radius: 200px;
}

/* End Client Custom Post Type Area */
/* Fork Me Area */
#fork-me {
  margin: 0 auto;
  width: 85%;
}
#fork-me h2 {
  float: left;
  margin: 0px auto;
  display: inline-block;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
}
#fork-me a {
  width: 80px;
  float: right;
}
#fork-me #close-box {
  left: 0;
  width: 80px;
  cursor: pointer;
  position: absolute;
}
#fork-me img {
  width: 80px;
  float: left;
  display: inline;
}
#fork-me.sticky {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.4s ease-in-out;
  height: 80px;
  background-color: antiquewhite;
  z-index: 999;
  text-align: center;
}
#fork-me.sticky a {
  position: absolute;
  top: 0;
  right: 0;
}
#fork-me.sticky.hide {
  display: none;
}

/* Start Contact Area */
#contact {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  clear: both;
  display: none;
}
#contact.contact-show {
  display: inline;
}
#contact .contact-content {
  list-style-type: none;
  clear: both;
  float: left;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  z-index: 999;
  bottom: 0;
}
#contact .contact-content .contact-text {
  display: block;
  padding: 10px 0px;
  width: 25%;
  margin: 0 auto;
  border-radius: 200px 200px 0px 0px;
  background-color: #4b4c5b;
  color: white;
}
#contact .contact-content .contact-text h2 {
  cursor: pointer;
}
#contact .contact-content .contact-box .wpcf7 {
  width: 100%;
  height: 400px;
}
#contact .contact-content .contact-box .wpcf7 .wpcf7-form p:nth-child(-n+2) {
  background: #ff0000;
  float: left;
  width: 200px;
}
#contact .contact-content .contact-box .wpcf7 .wpcf7-form p:nth-child(n+2) {
  background: #ff0000;
  float: left;
  width: 200px;
}
#contact .contact-content #social-icons {
  text-align: center;
  display: none;
  bottom: 0;
  position: fixed;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  z-index: 999;
}
#contact .contact-content #social-icons h2 {
  margin: 20px 0;
  cursor: pointer;
}
#contact .contact-content #social-icons ul.social_display li {
  margin: 0;
  padding: 0;
  border-radius: 0;
}

/* End Contact Area -*/
/* Available for Future use. */
#site-navigation #menu-saintly {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 1000;
}
#site-navigation #menu-saintly li {
  float: left;
}
#site-navigation #menu-saintly a {
  color: white;
  float: left;
  padding: 0 1rem;
  text-decoration: none;
  font-family: monospace;
}

ul, menu, dir {
  display: block;
  margin: 0 auto;
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: 'Ek Mukta', sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS for Responsive Styles */
@media (max-width: 1110px) {
  #about-me p {
    max-width: 450px;
  }
}
@media (max-width: 1110px) {
  #hero h1 {
    padding: 75px 0 0 0;
    font-size: 8em;
  }

  .content-area #contact {
    padding: 0;
    width: 100%;
    border-radius: 0;
  }
  .content-area #contact .column-left {
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-radius: 0;
  }
  .content-area #contact .column-right {
    display: none;
  }

  #content #clients {
    max-width: 810px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .content-area {
    padding: 0;
    margin: 0;
  }

  #hero {
    height: 300px;
  }

  #hero h1 {
    padding: 75px 0 0 0;
    font-size: 8em;
  }

  #hero, h1, h2, h3, h4 {
    font-size: 75%;
  }

  #content #about-me {
    width: 100%;
    padding: 0;
    border-radius: 0;
  }
  #content #clients {
    max-width: 540px;
    width: 100%;
  }
  #content #fork-me h2 {
    font-size: 22px;
    padding: 23px 0;
  }
  #content #contact .contact-content .contact-text {
    width: 35%;
  }
}
@media (max-width: 575px) {
  #content #hero.site-main .hero-img {
    background-position: 80% 25%;
  }
  #content #clients {
    max-width: 270px;
    width: 100%;
  }
  #content #clients .client-box:nth-child(n+4) {
    display: none;
  }
  #content #fork-me h2 {
    font-size: 17px;
    padding: 25px .5%;
    width: 100%;
  }
  #content #contact .contact-content .contact-text {
    width: 60%;
  }
}
@media (max-width: 480px) {
  #content #hero.site-main .hero-img {
    background-position: 91% 0;
  }
  #content #clients {
    max-width: 270px;
    width: 100%;
  }
  #content #clients .client-box:nth-child(n+4) {
    display: none;
  }
  #content #fork-me h2 {
    font-size: 17px;
    width: 100%;
    max-width: 185px;
    padding: 15px 25%;
  }
  #content #contact .contact-content .contact-text {
    width: 75%;
  }
  #content #social-icons h2 {
    font-size: 20px;
    margin: 20px 0;
  }
}
/* Available for Future use. */
/* CSS for Base Site Structure */
body {
  min-width: 400px;
}
body h1 {
  font-size: 5em;
  margin: 0;
}
body h2 {
  font-size: 2em;
  margin: 0;
}
body a {
  color: #4b4c5b;
  font-weight: bold;
  text-decoration: none;
}
body .error-404 {
  text-align: center;
  color: #4b4c5b;
  margin: 0;
}
body .error-404 header {
  margin-top: 50px;
}
body .error-404 p {
  text-align: center;
  margin: 40px;
}

/* Master Font Types Used. */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto Slab', serif;
  color: #4b4c5b;
}
body h2, body h3, body h4, body h5, body h6 {
  font-size: 2em;
}
body p, body ul, body li {
  font-family: 'Roboto Slab', serif;
}
body #hero h1 {
  font-family: 'Lobster', cursive;
  color: #4b4c5b;
  font-size: 6em;
  padding: 25px 0 0 0;
}
body #hero p {
  margin: 0;
  color: white;
  font-family: arial;
}

/*# sourceMappingURL=style.css.map */
